.btn {
	color: white;

	&:hover {
		color: unset;
	}

	&:focus {
		box-shadow: unset;
	}
}

.btn-primary {
	background-color: $primary-color;
	color: black;
	border: none;
	font-family: $default-button-font-family;

	&:hover {
		background-color: $primary-color;
		font-weight: bold;
		color: black;
	}
}

.card {
	background-color: $transparent-blue;
	margin-left: auto;
	margin-right: auto;
	border-radius: $default-border-radius-small;
	margin-top: 2rem;

	img {
		border-radius: 1rem 1rem 0 0;
	}

	&__title {
		padding-top: 0;
		padding-bottom: 0.2rem;
	}
}