/* Bootstrap variables */
$container-max-widths: (
	sm: 540px,
	md: 720px,
	lg: 960px,
	xl: 1580px
) !default;

/* Colors */
$primary-color: #F7EBDA;
$secondary-color: #63023B;
$transparent-blue: #A9B1E417;
$transparent-black: rgba(0,0,0,.75);
$transparent-white: rgba(255,255,255,.25);
$transparent-white-light: rgba(255,255,255,.05);
$default-border-color: #FFFFFF1F;
$default-clickable-hover-color: #FFFFFF21;
$default-font-color: #FFF;
$default-shadow: 2px 2px 2px rgb(0 0 0 / 75%);
$heading-shadow: 7px 7px 4px rgb(0 0 0 / 25%);

/* Pixel Values */
$default-border-width: 1px;
$default-border-radius-small: 10px;
$default-border-radius-medium: 20px;
$default-border-radius-big: 30px;
$default-image-max-height: 400px;

/* Font Families */
@font-face {
	font-family: Montserrat;
	src: url(../fonts/Montserrat-Regular.ttf);
}

@font-face {
	font-family: Mate SC;
	src: url(../fonts/MateSC-Regular.ttf);
}

$default-font-family: "Montserrat", -apple-system,BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol","Noto Color Emoji";
$default-button-font-family: "Josefin Sans", sans-serif;
$default-nav-font-family: "Mate SC", serif;


