.wp-query-image {
	img {
		//object-fit: contain !important;
	}
}

.wp-single-image {
	max-width: 40rem;
	margin-left: auto;
	margin-right: auto;
}

.wp-author {
	align-items: center;
}

.wp-youtube {
	max-width: 50rem;
	border-radius: $default-border-radius-small;
	overflow: hidden;
	margin-left: auto;
	margin-right: auto;
}